// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

label{
  display:block;
}

div.field,div.action{
  margin-bottom:10px;
}

a{
  color:#000;
}

#notice{
  color:green;
}